<!DOCTYPE html>
<html>
<head>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>

<h3>Shoebot and SVG in django</h3>
<div class="container">
    <div class="row">
        <h3>Flowers</h3>

        <div class="row">
        <div class="span4">
        Output of a bot file, inline in SVG.
        
        This is runs the bot at 'shoebot_demos/bots/flowers.bot', its
        svg is right here in the HTML
        </code>
        </div>
        <div class="span8">
        {{ bot }}
        </div>
        </div>
    </div>

    <div class="row">
        <h4>Rendering SVGs using the img tag</h4>
        <img src="/bots/flowers.svg" width=40 height=40>
        <img src="/bots/flowers.svg" width=200 height=200>
        <img src="/bots/flowers.svg" width=400 height=400>
    </div>

</div>

</body>
</html>
