<!DOCTYPE html>
<html>
<head>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/united/bootstrap.min.css"></link>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"></link>
</head>
<body>

<h3>Shoebot and SVG in django</h3>
<div class="container">
    <div class="row">
        <h3>Flowers</h3>

        <div class="row">
        <div class="span4">
        Output of a bot file, inline in SVG.
        
        This is runs the bot at 'shoebot_demos/bots/flowers.bot', its
        svg is right here in the HTML
        </code>
        </div>
        <div class="span8">
        {{ bot }}
        </div>
        </div>
    </div>

</div>

</body>
</html>
